body {
    margin-left: 10%;
    margin-right: 10%;
}
	
html > body > nav > .container-fluid > #bs-example-navbar-collapse-1 {
	background-color: black;
	color: white;
}	

html > body > #main > .jumbotron{
	
	background-image: url("../img/splash.jpg");
	background-size: contain;
	background-position: center;
	
}
html > body > #main > .jumbotron > .container{
	text-align: center;
	color: black
}

/*
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
*/
