body {
    margin-left: 10%;
    margin-right: 10%;
}


html > body > #main > .jumbotron{
	
	background-image: url("../img/splash.jpg");
	background-position: center;
	
}
	text-align: center;
	color: white;
}

html > body> #main > #slideshow {
	display: block;
	margin: auto; 
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	border: 1px solid black;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
