#main  {
    margin-left: 10%;
    margin-right: 10%;
}


html > body > #main > .jumbotron{
	
	background-image: url("../img/splash.jpg");
	background-position: center;
	color: white;
	text-align: center;
	
}

html > body> #main > #slideshow {
	display: block;
	margin: auto; 
}


table {
    font-family: arial, sans-serif;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 5px;
	border-top-color: black;
}

thead{
	font-size: 18px; 
	font-style:bold;
}

td { 
	font-size: 80%;
}
