{% extends "base.html" %}

{% block title %}
About
{% endblock %}


{% block main %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="page-header">
            About Us
            <hr /> Group Name: Marvelous Thundercats
            <hr /> Group Number: Project #3 - 3
        </h2>
    </div>
</div><br>

<!-- Team Members Row -->
<!--    the group name
                the group members
                for each member:
					photo
					name
                    bio
                    major responsibilities
				no. of commits
				no. of issues
					-->

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="static/img/maggie.jpg" alt="photo of maggie" width=500, height=500>
            <div class="caption">
                <b><h2>Maggie Nix</h2></b>
                <p>
                    <ul>
                        <li><b>Senior MIS Major</b></li>
                        <li><b>Major Responsibilities:</b> GitHub Manager, Requirements, About Page, Cite Structure, Content</li>
                        <li><b>No. of Commits to master:</b> UPDATE</li>
                        <li><b>No. of Issues:</b> 16</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="static/img/noah.jpg" alt="photo of noah" width=500, height=500>
            <div class="caption">
                <b><h2>Noah Escamilla</h2></b>
                <p>
                    <ul>
                        <li><b>Senior MIS Major</b></li>
                        <li><b>Major Responsibilities:</b> Artistic Direction, Content, Splash Page, JavaScript, Digital Ocean</li>
                        <li><b>No. of Commits to master:</b> UPDATE</li>
                        <li><b>No. of Issues:</b> 14</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="static/img/cassandra.jpg" alt="photo of cassandra" width=500, height=500>
            <div class="caption">
                <b><h2>Cassandra Galindez</h2></b>
                <p>
                    <ul>
                        <li><b>Senior Mathematics Major with a specialization in Computational Sciences</b></li>
                        <li><b>Major Responsibilities:</b> Cite Structure, Content, SpeakerDeck</li>
                        <li><b>No. of Commits to master:</b> UPDATE</li>
                        <li><b>No. of Issues:</b> 13</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="static/img/ian.jpg" alt="photo of ian" width=500, height=500>
            <div class="caption">
                <b><h2>Ian Mobbs</h2></b>
                <p>
                    <ul>
                        <li><b>Junior MIS Major</b></li>
                        <li><b>Major Responsibilities:</b> Templates, Bootstrap, Content, Flask</li>
                        <li><b>No. of Commits to master:</b> UPDATE</li>
                        <li><b>No. of Issues:</b> 13</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="static/img/arti.jpg" alt="photo of arti" width=500, height=500>
            <div class="caption">
                <b><h2>Arti Kumar</h2></b>
                <p>
                    <ul>
                        <li><b>Junior MIS Major</b></li>
                        <li><b>Major Responsibilities:</b> Wiki, Content</li>
                        <li><b>No. of Commits to master:</b> UPDATE</li>
                        <li><b>No. of Issues:</b> 14</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

</div>
<br />
<br />
<!-- Stats -->
<!-- stats:
                total no. of commits
                total no. of issues-->
<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="page-header">
            </i> Stats</h2>
        <hr>
        <h4>Total # of commits to master: UPDATE</h4>
        <h4>Total # of issues: 70</h4>
    </div>
</div><br>


<!-- Links -->
<!--
                a link to the GitHub Issue Tracker
                a link to the GitHub Repo
                a link to the GitHub Wiki -->
<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="page-header">
            </i> Links</h2>
        <hr>
        <h4><a href="https://github.com/mnix13/mnix13.github.io/issues">GitHub Issue Tracker</a>
            <h4><a href="https://github.com/mnix13/mnix13.github.io/">GitHub Repo</a>
                <h4><a href="https://github.com/mnix13/mnix13.github.io/wiki">GitHub Wiki</a>
                <h4><a href="https://speakerdeck.com/greyeyedpallas/cs329e-presentation-food-is-life">Speaker Deck Presentation</a>
    </div>
</div><br>


<!-- Tools -->
<!-- tools:
                tools used  -->
<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="page-header">
            </i> Tools</h2>
        <hr>
		<br />
		<h3>Front-End</h3>
        <h4>CSS</h4>
        <h4>Bootstrap</h4>
		<h4>Bootswatch</h4>
        <h4>JavaScript</h4>
        <h4>jQuery</h4>
        <h4>DataTables</h4>
		<h4>Jinja Templating</h4>
		<br />
		<h3>Back-End</h3>
		<h4>Flask</h4>
		<h4>Apache</h4>
		<h4>Virtualenv</h4>
		<br />
		<h3>Version Control</h3>
        <h4>GitHub</h4>
        <h4>Git</h4>
		<br />
		<h3>Communication</h3>
        <h4>Slack</h4>
		<br />
		<h3>Hosting</h3>
        <h4>Namecheap</h4>
        <h4>GitHub Pages</h4>
        <h4>Digital Ocean</h4>
        <br />
		<h3>User Stories</h3>
		<h4>Planning Poker</h4>
    </div>
</div>


<!-- Data -->
<!-- data:
            links to the data sources
            description of how each was scraped-->
<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="page-header">
            </i> Data</h2>
        <hr>
        <h4><a href="https://github.com/swilery/cs373-idb/blob/master/app/templates/about.html">About Us Template</a>
        </h4>
    </div>
</div><br>
</div>
{% endblock %}