{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block header %}
<style>
	body {background: #d7e2f4}
</style>
{% endblock %}

{% block main %}
<div class="jumbotron">
    <div class="container">
		<style>
			div {color: white}
		</style>
        <h1>The Marvelous Cookbook</h1>
    </div>
</div>
<hr />
<center>
    <h2>Let's face it, you're here because you love to eat.</h2>
    <h3>
        On this website, we explore food in the best ways.
        </br>
        You can find out how to make your favorite recipes, learn more about the ingredients in them, or the cuisines they come from.
        We'll educate you all on food and the best parts of it.
    </h3>
	
	<br />

<img  src="" id="slideshow" alt="Slide Show of Food" height="500" width="500" />
</center>
<script type="text/javascript">
    window.onload = rotate;

    var images = new Array();
    images[0] = "/static/img/pico.jpg";
    images[1] = "/static/img/mirepoix.jpg";
    images[2] = "/static/img/salad.jpg";
    images[3] = "/static/img/ingredients.jpg";
    images[4] = "/static/img/splash.jpg";


    var index = 4;

    function rotate() {
        index++;

        if (index == images.length) {
            index = 0;
        }

        document.getElementById("slideshow").src = images[index];


        setTimeout(rotate, 3 * 1000);
    }
</script>
{% endblock %}