{% extends 'base.html' %}

{% block main %}
<h1>{{ item.name }}</h1>
<hr />
<table class="table">
    {% for i in item %}
    <tr>
        <td><b>{{ i.title() }}</b></td>

        <td>
        {% if item[i] is string and item[i] in links %}
            <a href="{{ url_for('itempage', item=item[i], model=links[item[i]]) }}">
        {% endif %}

        {% if i == 'appearance' or i == 'image' %}
        <img src="{{ item[i] }}" width=500>
        {% elif i == 'video' %}
        <iframe width="560" height="315" src="{{item[i]}}" frameborder="0" allowfullscreen></iframe>
        {% elif i == 'wikipedia' or i == 'link' %}
        <a href="{{ item[i] }}">Wikipedia</a>
        {% else %}
            {% if item[i] is iterable and item[i] is not string %}
                <ul>
                    {% for thing in item[i] %}
                        {% if thing in links %}
                            <a href="{{ url_for('itempage', item=item[i], model=links[item[i]]) }}">
                        {% endif %}
                        <li>{{thing}}</li>
                        {% if thing in links %}
                            </a>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                {{ item[i] }}
            {% endif %}
        {% endif %}
        
        {% if item[i] is string and item[i] in links %}
            </a>
        {% endif %}

        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}