{% extends 'base.html' %}

{% block main %}
<h1>{{ item.name }}</h1>
<hr />
<table class="table">
    {% for i in item %}
    <tr>
        <td><b>{{ i.title() }}</b></td>
        {% if i == 'appearance' or i == 'image' %}
        <td><img src="{{ item[i] }}" width=500></td>
        {% elif i == 'video' %}
        <td><iframe width="560" height="315" src="{{item[i]}}" frameborder="0" allowfullscreen></iframe></td>
        {% elif i == 'wikipedia' or i == 'link' %}
        <td><a href="{{ item[i] }}">Wikipedia</a></td>
        {% else %}
            {% if item[i] is iterable and item[i] is not string %}
            <td>
                <ul>
                    {% for thing in item[i] %}
                        {% if thing in links %}
                            <li><a href="{{ url_for('itempage', item=thing, model=links[thing]) }}">{{thing}}</a></li>
                        {% else %}
                            <li>{{thing}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </td>
            {% else %}
            <td>{{ item[i] }}</td>
            {% endif %}
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}